<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>AdventureXP - Privat Booking</title>
</head>
<body>
<br><br><br><br>
<h1 style="color: black; font-size: 40px;font-weight: bold">Booking af Aktivitet</h1>
<br>
<div class="container" style="width: 50%;background: rgba(0, 0, 0, 0.6);border: 2px solid black">
    <form th:action="@{/createBooking}" method="post" >
        <table class="table">
            <tr>
                <td style="width: 30%;line-height: 30px;color: white;border-color: transparent">Navn:</td>
                <td style=";border-color: transparent"><input type="text" th:field="" style="width: 100%;line-height: 25px;" required/></td>
            </tr>
            <tr>
                <td style="width: 30%;line-height: 30px;color: white;border-color: transparent">Aktiviteter</td>
                <td style=";border-color: transparent"><select id="cars"type="text" th:field="" style="width: 100%;line-height: 25px" required>
                    <option value="volvo">Minigolf</option>
                    <option value="saab">Go-kart</option>
                    <option value="mercedes">Paintball</option>
                    <option value="audi">Bungeejump</option>
                </select></td>
            </tr>
            <tr>
                <td style="width: 30%;line-height: 30px;color: white;border-color: transparent">Antal personer</td>
                <td style=";border-color: transparent"><input type="text" th:field="" style="width: 100%;line-height: 25px" required/></td>
            </tr>
            <tr>
                <td style="width: 30%;line-height: 30px;color: white;border-color: transparent">Dato</td>
                <td style=";border-color: transparent"><input type="date" th:field="" style="width: 100%;line-height: 25px" required/></td>
            </tr>
            <tr>
                <td style="width: 30%;line-height: 30px;color: white;border-color: transparent">Tidspunkt</td>
                <td style=";border-color: transparent"><input type="time" th:field="" style="width: 100%;line-height: 25px" required/></td>
            </tr>
            <br>
        </table>
        <tr>
            <td style="text-align: center" ><input type="submit" style="height: 40px;font-size: 20px;font-weight: bold;margin-right: 10px" value="Opret Booking" class="btn btn-primary button"/></td>
            <td><a th:href="@{/}"><button style="height: 40px;font-size: 20px;font-weight: bold; width: 20%;color: lightgrey" type="button" class="btn btn-primary button">Annuller</button></a></td>
        </tr>
        <br>
    </form>
    <br>
</div>
</body>
</html>
