h1 {
    text-align: center;
    text-outline: 1px black;
}
h2, h3, h4, h5, h6 {
    text-align: center;
    text-shadow:1px 1px 1px #fff;
}

body {
    background-image: url("paintball-png-6.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.4);;
}
button {
    text-align: center;
    width: 15%;
}

div {
    text-align: center;
}
table {
    text-align: right;
    border: none;
}
td {
    border: none;
}